@import "tailwindcss";

@theme {
  --color-primary: #10a37f;
  --color-sidebar-dark: #202123;
  --color-chat-dark: #343541;
  --color-sidebar-light: #f9f9f9;
  --color-chat-light: #ffffff;
}

html, body, #root {
  height: 100%;
  margin: 0;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
